.template-h2 {
  font-size: 64px;
  font-weight: 400;
  text-align: start;
}
@media (max-width: 991px) {
  .template-h2 {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .template-h2 {
    font-size: 38px;
  }
}
@media (max-width: 479px) {
  .template-h2 {
    font-size: 34px;
    padding-top: 20px;
  }
}
.section-template {
  padding-top: 300px;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-template {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 479px) {
  .section-template {
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
.template-p {
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  width: 100%;
}
@media (max-width: 991px) {
  .template-p {
    font-size: 16px;
    text-align: start;
    padding-top: 20px;
  }
}
.template-pics {
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 479px) {
  .template-pics {
    margin-bottom: 20px;
  }
}
.template-span {
  border-radius: 30px;
  display: block;
  margin-bottom: 40px;
  box-shadow: 0 78px 40px -58px rgb(153 161 170 / 50%);
  position: relative;
  overflow: hidden;
}
.template-pics:hover .template-span img {
  transform: scale(1.1, 1.1);
}
.template-pics:hover .template-span::before {
  animation: shine 0.75s;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.template-span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.3)
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.template-span img {
  transition: transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
  border-radius: 30px;
  width: 100%;
}
.title {
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.template-pics:hover .title {
  color: var(--main-color);
}
.template-pics a {
  text-decoration: none;
  color: black;
}
.shape-ul li {
  position: absolute;
  top: 40%;
  z-index: -1;
}
.shape-ul .second-shape {
  top: 60%;
}
.shape-ul li img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
