* {
  scroll-behavior: auto;
  box-sizing: border-box;
}
:root {
  --main-color: #5956e9;
  --dark-color: #525260;
  --grey-color: #ecf2f6;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}
